
<div class="centeredContainer">

<div id="topicTitle">
  <%=h @current_topic.name %>
</div>

<div id="topicImageContainer">
<img id="topicImage" src="<%=h @current_topic.image_url %>" />
<br />
<span id="image_attribution_text"><%= auto_link @current_topic[:image_attribution_text] %></span>
</div>

<div class="opinion_text_form_container">

  <%= render :partial => "opinions/like_unlike_text_form" %>

</div>

</div>

<br />

<div id="similar_session_users" class="centeredContainer">

  <%= render :partial => "session_users/similar_users" %>

</div>

<div class="centeredContainer" style="" id="like_unlike_dashboard" >

<%= render :partial => "topics/like_unlike_dashboard" %>

</div>


<!--
<% if @next_topic %>
Time to show next topic <%= distance_of_time_in_words(Time.now.utc, @next_topic.time_to_show.utc) %>
<hr />
<% end %>
-->



<script>

function changeSize(srcElem)
{
  if (srcElem.value.length > 0)
  {
    if (srcElem.value.length > 10)
      srcElem.size = srcElem.value.length;
    else
      srcElem.size = 10;
  }
  else
  {
    srcElem.size = 10;
  }
}

var likeTextBox = document.getElementById("likeTextBox_top");

likeTextBox.focus();

</script>
